{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}

{% if author == "Aron" %}
  {% assign twitter_username = "aronwoost" %}
{% elsif author == "Phil" %}
  {% assign twitter_username = "pkyeck" %}
{% endif %}

{% if author %}<span class="byline author vcard">Posted by <span class="fn">{{ author }} </span>{% if twitter_username %}<a href="https://twitter.com/intent/follow?region=follow_link&screen_name={{ twitter_username }}&tw_p=followbutton&variant=2.0" class="twitter-btn twitter-follow-btn {{ twitter_username }}" target="_blank"><i></i><span class="label" id="l">Follow @{{ twitter_username }}</span></a>{% endif %}</span>{% endif %}