{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}

{% if author == "Aron" %}
  {% assign twitter_username = "aronwoost" %}
{% elsif author == "Phil" %}
  {% assign twitter_username = "pkyeck" %}
{% endif %}

{% if author %}<span class="byline author vcard">Posted by <span class="fn">{{ author }}</span>{% if twitter_username %}<span><a href="https://twitter.com/{{ twitter_username }}" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @{{ twitter_username }}</a></span>{% endif %}</span>{% endif %}