{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

{% capture category %}{% if post %}{{ post.categories | size }}{% else %}{{ page.categories | size }}{% endif %}{% endcapture %}

<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} 
  class="{% if page.sidebar == false %}no-sidebar{% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %}collapse-sidebar sidebar-footer{% endif %} {% unless category == '0' %}{% if post %}{{ post.categories }}{% else %}{{ page.categories }}{% endif %}{% endunless %}">
  
  <div class="apdev-page">
    <header role="banner" class="apdev--main-header">{% include header.html %}</header>
    <div id="main">
      <div id="content">
        {{ content | expand_urls: root_url }}
      </div>
    </div>
    <footer role="contentinfo" class="apdev-main-footer">{% include footer.html %}</footer>
    {% include after_footer.html %}
  </div>

</body>
</html>
