
.group {
  @include pie-clearfix;
}


body {
  -webkit-text-size-adjust: none;  
  background: #F8F8F8;

  line-height: 1.5em;
  color: $text-color;
  @extend .serif;

  @media only screen and (min-width: 768px) {
    -webkit-text-size-adjust: auto;
    background: #F8F8F8 url(/images/apdev-bg.png) no-repeat center -150px;
  }
  @media only screen and (min-width: 992px) {
    font-size: 1.15em;
    background-position: center -90px;
  }

  div.pagination {
    @extend .group;
    margin: 0;
  }
}

.apdev-page {
  max-width: $max-width;
  margin: 0 auto;

  padding-left: $pad-min;
  padding-right: $pad-min;

  @media only screen and (min-width: 480px) {
    padding-left: $pad-narrow;
    padding-right: $pad-narrow;
  }
  @media only screen and (min-width: 768px) {
    padding-left: $pad-medium;
    padding-right: $pad-medium;
  }
  @media only screen and (min-width: 992px) {
    padding-left: $pad-wide;
    padding-right: $pad-wide;
  }
}

#main {
  @media only screen and (min-width: 768px) {
    padding: 0;
    margin: 0 auto;
  }
}

#content {
  overflow: hidden;

  @media only screen and (min-width: 768px) {
    overflow: visible;
    margin-right: $sidebar-width-medium;
    position: relative;
  }

  @media only screen and (min-width: 992px) {
    margin-right: $sidebar-width-wide;
  }

  > div,
  > article {
    width: 100%;

    @media only screen and (min-width: 768px) {
      float: left;
    }
  }
}

.flex-content { max-width: 100%; height: auto; }

.basic-alignment {
  &.left { float: left; margin-right: 1.5em; }
  &.right { float: right; margin-left: 1.5em; }
  &.center { display:block; margin: 0 auto 1.5em; }
  &.left, &.right { margin-bottom: .8em; }
}

#main,
#content,
.sidebar {
  @extend .group;
}
