.apdev-main-footer {
  padding-top: 1em;
  margin: 3em 0 1em;

  @extend .sans;

  line-height: 1.5em;
  font-size: 0.8em;
  @media only screen and (min-width: 992px) {
    padding-bottom: 1em;
  }
  color: lighten($text-color, 60%);
}
