.apdev--main-header {
  padding: 1em 0 2em;
  margin-left: -4px;

  @media only screen and (min-width: 768px) {
    padding-bottom: 6em;
    padding: 2em 0 5em;
  }
  
  a, a:visited, a:hover {
    color: #252525;
    text-decoration: none;
  }

  h1 {
    display: inline-block;
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    font-family: Arial, sans-serif;

    @media only screen and (min-width: 768px) {
      display: block;
    }

    span {
      @media only screen and (max-width: 767px) {
        padding-left: 4px;
      }
    }
  }

  h2 {
    display: inline-block;
    margin: -0.2em 0 0;
    font-size: 1em;
    font-weight: normal;
    font-family: Arial, sans-serif;
    
    @media only screen and (min-width: 768px) {
      display: block;
    }

    span {
      padding-bottom: 2px;
    }
  }

  span {
    background-color: #F8F8F8;
    padding: 0 0;
    
    @media only screen and (min-width: 768px) {
      padding: 0 4px;
    }
  }
}
