
aside.sidebar {
  float: none;
  padding: 0 0 1px;
  background-color: lighten($sidebar-bg, 2);
  @extend .group;
}

@media only screen and (min-width: 768px) {
  aside.sidebar {
    width: $sidebar-width-medium - $sidebar-pad-medium*2;
    padding: 0 $sidebar-pad-medium $sidebar-pad-medium;
    background: none;
    clear: none;
    float: left;
    margin: 0 -100% 0 0;
    section {
      width: auto; margin-left: 0;
      &.odd, &.even { float: none; width: auto; margin-left: 0; }
    }
  }
}

@media only screen and (min-width: 992px) {
  aside.sidebar {
    width: $sidebar-width-wide - $sidebar-pad-wide*2;
    padding: 0 $sidebar-pad-wide 0;
  }
}

aside.sidebar {
  overflow: hidden;
  color: lighten($sidebar-color, 40%);

  a {
    @extend .force-wrap;
  }

  section {
    @extend .sans;
    font-size: .8em;
    line-height: 1.4em;
    margin-bottom: 1.5em;
    h1 {
      margin: 1.5em 0 0;
      padding-bottom: 0.4em;
      + p {
        padding-top: .4em;
      }
    }
  }
  
  img {
    @extend .flex-content;
    @extend .basic-alignment;
    // @include shadow-box($border: #fff .3em solid);
  }
  
  a {
    color: inherit;
    text-decoration: none;
    @include transition(color .5s);
  }
  
  &:hover a {
    color: $sidebar-link-color;
    &:hover { color: $sidebar-link-color-hover; }
  }
}

.aside-alt-link {
  color: $sidebar-link-color-subdued;

  &:hover {
    color: $sidebar-link-color-subdued-hover;
  }
}