<script src="/javascripts/libs/jquery.min.js"></script>

{% include disqus.html %}

<script type="text/javascript">
  (function(doc){

    // iOS scaling bug fix
    // Rewritten version
    // By @mathias, @cheeaun and @jdalton
    // Source url: https://gist.github.com/901295
    var addEvent = 'addEventListener',
      type = 'gesturestart',
      qsa = 'querySelectorAll',
      scales = [1, 1],
      meta = qsa in doc ? doc[qsa]('meta[name=viewport]') : [];
    function fix() {
      meta.content = 'width=device-width,minimum-scale=' + scales[0] + ',maximum-scale=' + scales[1];
      doc.removeEventListener(type, fix, true);
    }
    if ((meta = meta[meta.length - 1]) && addEvent in doc) {
      fix();
      scales = [0.25, 1.6];
      doc[addEvent](type, fix, true);
    }

    // gist stuff
    var gist = document.createElement('script');
    gist.type = 'text/javascript';
    gist.async = true;
    gist.src = '/javascripts/gist.js';
    document.getElementsByTagName('head')[0].appendChild(gist);

  })(document);
</script>

{% include google_analytics.html %}